@use 'variables' as *;

.about {
  padding: 8rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &__details {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    font-weight: $regular;
    line-height: 1;
    @include font(72);
    & > span {
      display: block;
    }
  }
  &__goal {
    @include font(36);
    //margin-top: 64px;
  }
  &__bottom {
    margin-top: auto;
    @include font(24);
    color: $on-surface-70;
  }
  @media only screen and (max-width: 640px) {
    padding-top: 40px;
    &__details {
      @include font(42);
    }
    &__goal {
      margin-top: 48px;
      @include font(28);
    }
    &__bottom {
      margin-top: 0;
      span {
        display: none;
      }
    }
  }
}
