@use 'variables' as *;

.contact {
  padding: 8rem 0;
  overflow: hidden;
  display: grid;
  position: relative;
  grid-template-columns: max-content 1fr;
  grid-template-rows: min-content 1fr;
  column-gap: 195px;
  row-gap: 3.2rem;
  h2 {
    @include fontRem(7.2);
    line-height: 1;
    align-self: flex-end;
  }
  hgroup {
    position: relative;
  }
  &__email {
    position: absolute;
    bottom: calc(-3.2rem - 20px);
    left: 0;
    color: $on-surface-50;
  }

  h3 {
    @include font(48);
    line-height: 1;
    align-self: flex-end;
  }

  .copyright {
    grid-column: 2/3;
    color: $on-surface-50;
    @include font(16);
    letter-spacing: 0.16px;
    b {
      color: $on-surface;
      font-weight: $regular;
    }
  }
  @media only screen and (max-width: 1140px) {
    column-gap: 64px;
    padding-top: 40px;
  }
  @media only screen and (max-width: 960px) {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, min-content) max-content;
    row-gap: 20px;
    &__email {
      position: static;
      margin-top: 16px;
      display: inline-block;
    }
    .copyright{
      grid-column: 1/2;
      text-align: right;

    }
  }
  @media only screen and (max-width: 640px) {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, min-content) max-content;
    row-gap: 20px;

    h2 {
      @include font(42);
      max-width: 130px;
      margin-bottom: 16px;
    }
    &__email {
      position: static;
    }
    h3 {
      margin-top: 28px;
      @include font(28);
    }
    .copyright {
      display: none;
    }
  }
}

.contact-form {
  grid-column: 2/3;
  max-width: 414px;
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  align-items: flex-start;
  &__submit-button {
    min-width: 197px;
    margin-top: 8px;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-text-fill-color: #fff;
    -webkit-box-shadow: 0 0 0px 1000px $surface inset;
    overflow: hidden;
  }
  @media only screen and (max-width: 960px) {
    grid-column: 1/2;
  }
  @media only screen and (max-width: 640px) {
    max-width: 100%;
    button {
      height: 48px;
    }
  }
}
#contact-us {
  position: relative;
  .copyright-mobile {
    display: none;
  }
  @media only screen and (max-width: 640px) {
    .copyright-mobile {
      display: block;
      position: absolute;
      right: 0;
      bottom: 8px;
      width: 125px;
      z-index: 100;
      line-height: 16px;
      @include font(12);
      color: $on-surface-50;
      letter-spacing: 0.16px;
      b {
        color: $on-surface;
        font-weight: $regular;
      }
    }
  }
}
