@use 'variables' as *;
.main-slider {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: scroll;
  overflow-x: visible;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  align-items: stretch;
  row-gap: 16px;

  &::-webkit-scrollbar {
    display: none;
  }
  &__slide {
    position: relative;
    scroll-snap-stop: always;
    padding: $header-height calc((100vw - #{$content-mw}) / 2) 0;
    min-height: 100%;
    max-height: 100%;
    scroll-snap-align: center;
    overflow: hidden;

    & > div {
      height: 100%;
    }
    @media only screen and (max-height: 700px) {
      &.main-slider__slide {
        padding-bottom: unset;
      }
    }
  }
  &__footer {
    display: none;
  }

  #principles {
    padding: $header-height 0 0;
  }
  //#contact-us{
  //  overflow-y: scroll;
  //  &::-webkit-scrollbar {
  //    display: none;
  //  }
  //}

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 400;
    line-height: 1;
  }
  @media only screen and (max-width: 640px) {
    &__slide {
      padding-bottom: 40px;
    }
    &__footer {
      text-align: right;
      color: $on-surface-50;
      display: block;
      scroll-snap-stop: always;
      scroll-snap-align: end;
      padding: 0px 20px 64px;
      b{
        font-weight: $regular;
        color: $on-surface;
      }
    }
  }
}
