$surface: var(--surface);
$surface-container: var(--surface-container);
$on-surface: var(--on-surface);
$on-surface-70: var(--on-surface-70);
$on-surface-50: var(--on-surface-50);
$primary: var(--primary);

$regular: var(--regular);
$medium: var(--medium);
$semibold: var(--semibold);
$bold: var(--bold);

$content-mw: var(--content-mw);
$header-height: var(--header-height);
//$content-mw: calc(100vw - 160px);

@mixin font($size) {
  @if $size < 21 {
    font-size: #{$size}px;
    font-family: 'SF Pro Text', sans-serif;
  } @else {
    font-size: #{$size}px;
    font-family: 'SF Pro Display', sans-serif;
  }
}

@mixin fontRem($size) {
  @if $size * 10 < 21 {
    font-size: #{$size}rem;
    font-family: 'SF Pro Text', sans-serif;
  } @else {
    font-size: #{$size}rem;
    font-family: 'SF Pro Display', sans-serif;
  }
}

@mixin primary-gradient() {
  background: linear-gradient(180deg, rgba(2, 1, 2, 0) 32.68%, rgba(2, 1, 2, 0.5) 80%) no-repeat,
    linear-gradient(180deg, #e3fd52 0%, #e3fd52 100%) no-repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
